<!DOCTYPE html>
{% load static %}
<html>
<head>



    <link rel="stylesheet" type="text/css" href="{% static 'evite/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'evite/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}

    {% endblock %}
    <title> {%block title%}EVITE{%endblock%} </title>
  </head>
<body>

{% if error_message %} <p><strong> {{ error_message }} </strong></p>{% endif %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Evite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'evite:index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li>
          <a class='nav-link' href="#">Welcome {% if user %} <span> {{ user.username }} </span> {% endif %}</a>
        </li>
        <li>
          <a class='nav-link' href="{% url 'evite:logout' %}">Logout</a>
        </li>
        <li>
          <a class='nav-link' href="{% url 'evite:createEvent' %}">Create Event</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


{% block body %}


{% endblock %}
</body>
</html>
